.body{
    display: flex;
}
.header{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 250px;
    margin-right: 20px;
    background-color: var(--bg_color_blue);
    transition: width 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}
/* .header_open{
    flex-basis: 250px;
} */
.header_close{
    position: fixed;
    width: 45px;
}
.header_close + main{
    padding: 0 20px 0 70px;
}
.header_close .mainmenu__name {
    opacity: 0;
}
.header_close:hover .mainmenu__name{
    opacity: 1;
}
.header_close .header__burger {
    opacity: 0;
    visibility: hidden;
}
.header_close:hover{
    width: 250px;
}
.header_close:hover .header__burger{
    opacity: 1;
    visibility: visible;
}
/* .header_close .mainmenu__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_close .mainmenu__icon{
    margin: 0;
} */
.header__container{
    position: relative;
}
.header__burger{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s linear,
    visibility .2s linear;
}
.header__logo{
    display: block;
    padding: 20px 0;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Montserrat";
    color: var(--text_color_white);
}
.headmenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff80;
}
.headmenu__item:not(:last-child){
    margin-right: 8px;
}
.mainmenu__item:not(:last-child){
    margin-bottom: 5px;
}
.mainmenu__link{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: var(--text_color_white);
}
.mainmenu__link:hover{
    background-color: rgba(255, 255, 255, 0.329);
}
.mainmenu__icon{
    margin-right: 10px;
}
.mainmenu__name{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    transition: opacity .2s linear,
    visibility .2s linear;
}



.main{
    flex-grow: 1;
    padding: 0 20px 0 0;
}
.controls{
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.controls__btns{
    display: block;
}
.controls__btn{
    padding: 7px 15px;
    border: 1px solid #ddd;
}


.cards__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    min-height: 70px;
    padding: 10px 20px;
    border: 1px solid #ddd;
}
.cards__item:not(:last-child){
    margin-bottom: 10px;
}
.cards__id{
    margin-right: 10px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}
.cards__link{
    margin-right: 10px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: var(--link_color_blue);
}
.cards__name{
    display: inline-block;
    margin-right: 20px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
.cards__btn{
    padding: 5px 18px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
.cards__btn:not(:last-child){
    margin-right: 10px;
}
.cards__btn_edit{
    background-color: rgb(0, 0, 153);
}
.cards__btn_delete{
    background-color: rgb(179, 0, 0);
}



/* 
EDIT ADMIN PAGE
*/
.edit__title{
    margin-bottom: 30px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}
.edit__label{
    display: flex;
    align-items: center;
}
.edit__label:not(:last-child){
    margin-bottom: 10px;
}
.edit__fieldname{
    flex-basis: 200px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.edit__value{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}


@media screen and (max-width: 1300px) {
    .cards__text{
        display: none;
    }
    .cards__btn{
        background-repeat: no-repeat;
        background-position: center center;
    }
    .cards__btn_edit{
        background-image: url('/images/edit.svg');
    }
    .cards__btn_delete{
        background-image: url('/images/del.svg');
    }
}