:root{
    --bg_color_blue: #290088;
    --bg_color_yellow: #FAF9EB;

    --text_color_white: #fff;

    --btn_border_blue: #290088;

    --link_color_blue: #11a0ff;

    --btn_bg_yellow: linear-gradient(to right bottom, #DBA916 10%, #A67F09 90%);
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

svg, path{
    pointer-events: none;
}